.text-large {
  font-size: x-large;
}

ul {
  list-style-type: none;
}

body {
  overflow-x: hidden !important;
}

.container-fluid {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

@media screen and (max-width:500px) {
  #zpa-thing {
    font-size: 4rem !important;
    font-style: normal;
  }
  .card-img-top {
    width:100% !important;
    height:100vw !important;
    object-fit: cover !important;
  }

  .rounded-images {
    border-radius: 2rem !important;
  }
  
}
@media screen and (min-width:530px) and (max-width:600px){
  .card-img-top {
    width:100% !important;
    height:110vw !important;
    object-fit: cover !important;
  }
}

@media screen and (min-width:750px) and (max-width:900px) {
  .card-img-top {
    width:100% !important;
    height:120vw !important;
    object-fit: cover !important;
  }
}

@media screen and (max-width:282px) {
  #zpa-thing {
    font-size: 2.5rem !important;
  }
  .second-heading {
    font-size: 3rem !important;
  }
}

@media screen and (min-width:350px) and (max-width:385px) {
  .second-heading {
    font-size: 4rem !important;
    font-weight: 600;
    color: #172554;
  }
  #zpa-thing {
    font-size:3.6rem !important;
  }
}

@media screen and (min-width:810px) and (max-width:900px) {
  #zpa-thing {
    font-size: 4rem !important;
  }
}
#zpa-thing {
  font-size: 5rem;
  font-style: normal;
}

.tag-line {
  font-style: normal; 
  font-size: 2rem;
}

nav {
  background-color: #5b21b6;
 
}

#brand-logo {
  color: #8b5cf6;
  font-size: 3rem;
}
#brand-logo:hover {
  color: #c084fc;
}
.custom-navlinks {
  color:#8b5cf6 !important;
  font-weight: 700 !important;
}

#home, #donate {
  background-color: #eae7f0;
}

.custom-navlinks:hover {
  color: #d946ef !important;
}

#partners {
  background-color: #eae7f0;
}

.blobed-image {
  border-radius:87% 13% 15% 85% / 88% 28% 72% 12% ;
}

.blobed-image1 {
 border-radius: 68% 32% 65% 35% / 48% 62% 38% 52%; 
}

.blobed-image2 {
  border-radius: 55% 45% 33% 67% / 54% 42% 58% 46%;
}

.second-heading {
  font-size: 4.5rem;
  font-weight: 600;
  color: #172554;
}

.descriptor {
  font-size: 1.65rem;
  padding: 0.8rem;
}

.rounded-images {
  border-radius: 100%;
}

.card-img-top {
  width:100%;
  height:30vw;
  object-fit: cover;
}

.pecks {
  font-size: 1.1em;
}

.gold {
 background-color: #FFD700 !important;
 color: #ad9405 !important;
}

.platinum {
  background-color: #e5e4e2 !important;
  color: #999692 !important;
}

.silver {
  background-color: #C0C0C0 !important;
  color: #9b9696 !important;
}

.bronze {
  background-color: #CD7F32 !important;
  color: #9b5814 !important;
}

.scroll-margin {
  scroll-margin: 100px;
}


button.navbar-toggler:focus {
  border: none;
  box-shadow: none; 
}

a {
  text-decoration: none !important;
}

.map {
width: 25em;
height: 25em;
}

.contacting {
  font-size: 1.1em;
  padding: 0.5em;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}